html {
  background: url("../background.jpg") no-repeat center fixed;
  background-size: cover;
  font-family: Helvetica, Arial, sans-serif;
}

.small {
  font-size: 36px !important;
  padding: 40px 10px 0 0 !important;
}

.smaller {
  font-size: 24px !important;
  padding: 50px 10px 0 0 !important;
}

.smallest {
  font-size: 16px !important;
  padding: 55px 10px 0 0 !important;
}

.table {
  display: table;
  border-collapse: collapse;
  border-style: hidden;
  text-align: center;
  font-size: 18px;
  line-height: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table:hover {
  cursor: pointer;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #9F9F9F;
}

.btn-number {
  width: 57px;
  height: 47px;
  background-color: #E0E0E0;
}

.btn-number-dark {
  width: 57px;
  height: 47px;
  background-color: #D6D6D6;
}

.btn-operator {
  width: 57px;
  height: 47px;
  background-color: #FF8E02;
  color: white;
}

.container {
  width: 231px;
  height: 319px;
  margin: 150px auto;
}

#top {
  height: 80px;
  width: 231px;
  background-color: #4C4C4C;
  border-radius: 4px 4px 0 0;
  opacity: 0.9;
  color: white;
  text-align: right;
}

#top p {
  padding: 25px 15px 0 0;
  font-size: 48px;
  font-weight: 100;
}

#zero {
  border-radius: 0 0 0 4px;
  border-right-width: 0;
}

#empty {
  border-left-width: 0;
}

#equal {
  border-radius: 0 0 4px 0;
}
