html {
  background: url("../background.jpg") no-repeat center fixed;
  background-size: cover;
  font-family: Helvetica, Arial, sans-serif;
}

.btn-number {
  width: 57px;
  height: 47px;
  background-color: #E0E0E0;
}

.btn-number-dark {
  width: 57px;
  height: 47px;
  background-color: #D6D6D6;
}

.btn-operator {
  width: 57px;
  height: 47px;
  background-color: #FF8E02;
  color: white;
}

.cell {
  display: table-cell;
  padding: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #9F9F9F;
}

.container {
  width: 230px;
  height: 319px;
  margin: 150px auto;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.54);
}

.row {
  display: table-row;
}

/*
* This bug: https://bugs.webkit.org/show_bug.cgi?id=78215
* "Inset box-shadow on a table cell with collapsed borders has a 1px gap",
* Makes a box-shadow solution unusable.
* I am using an adaptation from the pseudo-element solution found here:
* https://css-tricks.com/snippets/css/multiple-borders/
*/
.selected-operator {
  position: relative;
}

.selected-operator::before {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  border-top: solid 1px #9F9F9F;
  border-bottom: solid 1px #9F9F9F;
  border-left: solid 1px #9F9F9F;
}

.selected-operator--divide {
  position: relative;
}

.selected-operator--divide::before {
  content: "";
  position: absolute;
  z-index: 1;
  right: 0px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  border-bottom: solid 1px #9F9F9F;
  border-left: solid 1px #9F9F9F;
}

.small {
  font-size: 36px !important;
  padding: 40px 10px 0 0 !important;
}

.smaller {
  font-size: 24px !important;
  padding: 50px 10px 0 0 !important;
}

.smallest {
  font-size: 16px !important;
  padding: 55px 10px 0 0 !important;
}

.table {
  display: table;
  border-collapse: collapse;
  border-style: hidden;
  text-align: center;
  font-size: 18px;
  line-height: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table p {
  margin-top: 24px;
}

.table:hover {
  cursor: pointer;
}

#empty {
  border-left-width: 0;
}

#equal {
  border-radius: 0 0 4px 0;
}

#top {
  height: 80px;
  width: 230px;
  background-color: #4C4C4C;
  border-radius: 4px 4px 0 0;
  opacity: 0.9;
  color: white;
  text-align: right;
}

#top p {
  padding: 25px 15px 0 0;
  font-size: 48px;
  font-weight: 100;
}

#zero {
  border-radius: 0 0 0 4px;
  border-right-width: 0;
}
