$top-color: #4C4C4C;
$number-color: #E0E0E0;
$number-color-dark: #D6D6D6;
$operator-color: #FF8E02;
$border-color: #9F9F9F;
$btn-width: 57px;
$btn-height: 47px;
@mixin btn($color) {
  width: $btn-width;
  height: $btn-height;
  background-color: $color;
}

//special classes for text size in screen
.small {
  font-size: 36px !important;
  padding: 40px 10px 0 0 !important;
}

.smaller {
  font-size: 24px !important;
  padding: 50px 10px 0 0 !important;
}

.smallest {
  font-size: 16px !important;
  padding: 55px 10px 0 0 !important;
}

html {
  background: url("../background.jpg") no-repeat center fixed;
  background-size: cover;
  font-family: Helvetica, Arial, sans-serif;
}

.table {
  display: table;
  border-collapse: collapse;
  border-style: hidden;
  text-align: center;
  font-size: 18px;
  line-height: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.table:hover {
  cursor: pointer;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  padding: 0;
  border-style: solid;
  border-width: 1px;
  border-color: $border-color;
}

.container {
  width: 231px;
  height: 319px;
  margin: 150px auto;
}

#top {
  height: 80px;
  width: 231px;
  background-color: $top-color;
  border-radius: 4px 4px 0 0;
  opacity: 0.9;
  color: white;
  text-align: right;
  p {
    padding: 25px 15px 0 0;
    font-size: 48px;
    font-weight: 100;
  }
}

#ac {
  @include btn($number-color-dark);
}

#reverse {
  @include btn($number-color-dark);
}

#percent {
  @include btn($number-color-dark);
}

#divide {
  @include btn($operator-color);
  color: white;
}

#seven {
  @include btn($number-color);
}

#eight {
  @include btn($number-color);
}

#nine {
  @include btn($number-color);
}

#mult {
  @include btn($operator-color);
  color: white;
}

#four {
  @include btn($number-color);
}

#five {
  @include btn($number-color);
}

#six {
  @include btn($number-color);
}

#minus {
  @include btn($operator-color);
  color: white;
}

#one {
  @include btn($number-color);
}

#two {
  @include btn($number-color);
}

#three {
  @include btn($number-color);
}

#plus {
  @include btn($operator-color);
  color: white;
}

#zero {
  @include btn($number-color);
  border-radius: 0 0 0 4px;
  border-right-width: 0;
}

#empty {
  @include btn($number-color);
  border-left-width: 0;
}

#point {
  @include btn($number-color);
}

#equal {
  @include btn($operator-color);
  border-radius: 0 0 4px 0;
  color: white;
}